@media screen and (max-width:800px) {
    .ds-danh-muc a{
        width: 150px;
        display: block;
    }
}
@media screen and (max-width:600px) {
    .ds-danh-muc a{
        width: 100px;
        display: block;
    }
}
@media screen and (max-width:400px) {
    .ds-danh-muc a{
        width: 75px;
        display: block;
    }
}