.header{
    font-variant: small-caps;
}
.header img{
    width: 220px;
}
.menu{
    margin: 0 2px;
}
.header>article>h1{
    font-family: Impact;
    font-size: 50px;
    color: white;
    letter-spacing: 0.3px;
    text-shadow: 0 0 2px black;
    padding-bottom: 0px;
    border-bottom: 1px none gray;
    margin: 0px;
}
.header>article>h5{
    margin-top: 5px;
    letter-spacing: 0.5px;
}
.bg-dark, .box{
    border-radius: 6px;
}
.box{
    margin: 1px auto;
    padding: 1000px 0;
    border: 2px solid yellow;
}
.cart-aside img{
    width: 100px;
}
.cart-aside ul{
    padding: 0px;
    margin: 0px;
    list-style: none;
    font-variant: small-caps;
}
.search-box input{
    margin: 10px;
}
.cart-aside, .search-box, .list-gr{
    margin: 5px 0 0 0;
}
.prod{
    padding: 5px;
}
.prod img{
    width: 200px;
}
.img-thumbnail{
    max-width: 95%;
}
@media screen and (max-width:1000px){
    .ds-danh-muc a{
        width: 50px;
    }
}